<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

<img src="/assets/icon/Logo_TV_2015.svg.png" alt="image" height=width/><br>

  <ion-button shape="round" color="secondary" (click)="login('alice')">Importer&nbsp;<img src="/assets/icon/import_new.png"/></ion-button><br>
  <ion-button shape="round" color="secondary" (click)="login('bob')">Exporter&nbsp;<img src="/assets/icon/export_new.png"/></ion-button><br>
  <ion-button shape="round" color="secondary" (click)="login('issuing_bank')">Issuing Bank&nbsp;<img src="/assets/icon/issuing.png"/></ion-button><br>
  <ion-button shape="round" color="secondary" (click)="login('beneficiary_bank')">Beneficiary Bank&nbsp;<img src="/assets/icon/bank.png"/></ion-button>  

<!-- <ion-button  expand="block" color="secondary">Login</ion-button> -->
</ion-content>
