<ion-header>
  <ion-toolbar>
    <ion-title>Importer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf ="customerImporter">

  <img src="/assets/icon/banklogo.png" alt="logo" style="border: 1px black solid">
  <ion-card>
    <ion-card-header>
      <div class="row">
          <div ><ion-card-subtitle class="my-label">Welcome, {{customerImporter.name}}</ion-card-subtitle></div>
          <div text-right><ion-button  fill="outline"shape="round" size="small">Account Details</ion-button></div><br>
      </div>
      <div class="row">
        <div  text-center>
          <ion-label>Account Balance</ion-label>
        </div>
      </div>
      <ion-card-title text-center>€ 53,2540.00</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list [virtualScroll]="users" [approxItemHeight]="'88px'">
    <ion-card *virtualItem="let user">
      <ion-item>
          <h1>TITLE</h1>
      </ion-item>
      <ion-content>
        <h2>CONTENT</h2>
      </ion-content>
    </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" id="fab1" slot="fixed">
        <ion-fab-button onclick="clickMainFAB('fab1')" color="dark">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC
          </ion-button>
        </ion-fab-list>
  </ion-fab>

 </ion-content>
 