<ion-header>
  <ion-toolbar>
    <ion-title>Importer</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="dis_scroll" *ngIf ="customerImporter">

  <img src="/assets/icon/banklogo_issuing.png" alt="logo" style="border: 1px black solid">
  <ion-card>
    <ion-card-header>
      <div class="row">
          <div ><ion-card-subtitle class="my-label">Welcome, {{customerImporter.name}} </ion-card-subtitle></div>
          <div text-right><ion-button  fill="outline"shape="round" size="small">Account Details</ion-button></div><br>
      </div>
      <div class="row">
        <div  text-center>
          <ion-label>Account Balance</ion-label>
        </div>
      </div>
      <ion-card-title text-center>€ 5,32,540.00</ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="my-label_1" text-center>LC</div>
  <div class="enable_scroll">
     <ion-card>
        <ion-virtual-scroll [items]="users" >
              <ion-item *virtualItem="let user">
                  <ion-card>
                    <ion-card-content>
                      USERadsaGFAGSRGKJBAO;LAGDGLAEGHIALSGTGFBSAGBJU
                    </ion-card-content>
                  </ion-card>
              </ion-item>  
        </ion-virtual-scroll>
      
      </ion-card>
  </div>
  <!-- <br>
  <br>
  <br> -->
  
  

  
</ion-content>   
  
  <ion-fab vertical="bottom" horizontal="center" id="fab1" slot="fixed">
        <ion-fab-button onclick="clickMainFAB('fab1')" color="dark">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC
          </ion-button>
        </ion-fab-list>
  </ion-fab>


 <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
      
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>