<ion-header>
    <ion-toolbar color="dark">
        <ion-title>LC Details</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="letterOfCredit">
    <img src="/assets/icon/{{customer.bankObj.name}}.png" alt="logo" class="bankLogo"/>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{letterOfCredit.letterId}}
                <ion-fab horizontal="end">
                    <ion-fab-button>{{count}}%</ion-fab-button>
                    <ion-fab-list side="bottom">
                        <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
                    </ion-fab-list>
                  </ion-fab>
            </ion-card-title>
            
        </ion-card-header>
        <ion-card class="card1">
            <ion-card-header>
                <ion-card-subtitle>
                    <p>Application Request:</p>
                    <ion-input [(ngModel)]="letterOfCredit.applicant" placeholder='Applicant Name' readonly></ion-input>
                </ion-card-subtitle>
                <ion-card-subtitle>
                    <p>Supplier Request:</p>
                    <ion-input [(ngModel)]="letterOfCredit.beneficiary" placeholder='Beneficiary Name' readonly></ion-input>
                </ion-card-subtitle>
            </ion-card-header>
        </ion-card>
        <ion-card class="card2">
            <ion-card-header>
                <ion-card-subtitle>Product Details:</ion-card-subtitle>
            </ion-card-header>
            <ion-list class="no-padding">
                <ion-item>
                    <ion-label color="dark" class="no-padding label_size">
                        <p>Type: </p>
                    </ion-label>
                    <ion-input [(ngModel)]="letterOfCredit.productDetails.productType" placeholder='Product Type' readonly={{!createLC}}></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="dark" class="no-padding label_size">
                        <p>Quantity: </p>
                    </ion-label>
                    <ion-input [(ngModel)]="letterOfCredit.productDetails.quantity" placeholder='Quantity' readonly={{!createLC}}></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="dark" class="no-padding label_size">
                        <p>Price Per Unit: € </p>
                    </ion-label>
                    <ion-input [(ngModel)]="letterOfCredit.productDetails.pricePerUnit" placeholder='Price per Unit' readonly={{!createLC}}></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="dark" class="no-padding label_size">
                        <p>TOTAL: € </p>
                    </ion-label>
                    <ion-input value={{letterOfCredit.productDetails.quantity*letterOfCredit.productDetails.pricePerUnit}} placeholder='Total Price'
                        readonly></ion-input>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card>
            <ion-card-subtitle>
                <p>Terms and Conditions:</p>
            </ion-card-subtitle>
            <ion-item *ngFor="let items of letterOfCredit.rules">
                <ion-textarea value={{items}}></ion-textarea>
            </ion-item>
        </ion-card>
        <div *ngIf="bankEmployee">
            <ion-grid>
                <ion-row>
                    <ion-col size="3"></ion-col>
                    <ion-col size="3">
                        <ion-button color="bankgreen">Accept</ion-button>
                    </ion-col>
                    <ion-col size="3">
                        <ion-button color="bankgreen">Reject</ion-button>
                    </ion-col>
                    <ion-col size="3"></ion-col>
                </ion-row>
            </ion-grid>

        </div>
    </ion-card>

    <ion-card>
        <ion-card-subtitle>
            <p>Stages</p>
        </ion-card-subtitle>
        <ion-item *ngFor="let tnx of letterOfCredit.transactions; index as i;">
            <ion-input  value={{stages[i]}}{{tnx.approvingParty|uppercase}}></ion-input>
            <!-- <p><ion-input *ngIf=tnx.status==reject value={{stages[i]}}{{tnx.closeReason|uppercase}}></ion-input></p> -->
            <!-- <p><ion-input value={{tnx.timestamp}}></ion-input></p> -->
        </ion-item>
    </ion-card>

</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="createLC">
    <ion-fab-button id="CreateLCFAB" color="dark" (click)="createNewLC()">
        <ion-icon name="save"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-toolbar color="dark">
    <ion-buttons slot="secondary">
        <ion-button>
            <ion-icon slot="icon-only" name="help-circle"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button>
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
<!-- <ion-fab vertical="bottom" horizontal="center" id="fab1" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </ion-button>
    
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            <ion-icon name = "save"></ion-icon>
        </ion-button>
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC 2
        </ion-button>
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC 3
        </ion-button>
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC 4
        </ion-button>
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC 5
        </ion-button>
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC 6
        </ion-button>
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC 7
        </ion-button>
        <ion-button onclick="openSocial('twitter', 'fab1')" color="dark" >
            LC 8
        </ion-button>
    </ion-fab-list>
</ion-fab> -->