<ion-header>
  <ion-toolbar>
    <ion-title>accountDetails</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="/assets/icon/banklogo_issuing.png" alt="logo" style="border: 1px black solid;">
<ion-card>
      <ion-card-content>
          <div color="dark" style="font-size: xx-small" text-center><ion-label>ACCOUNT DETAILS</ion-label></div><br>
          <ion-label color="dark" class="label_size">Name:</ion-label>
          <ion-item>
              
              <ion-input id="dynamicDisabled1" value="Alice" disabled class="my-details"></ion-input>
            </ion-item>
            <ion-label color="dark" class="label_size">Company Name:</ion-label>
          <ion-item>
              
              <ion-input id="dynamicDisabled2" value="XYZ" disabled class="my-details"></ion-input>
            </ion-item>
            <ion-label color="dark" class="label_size">IBAN:</ion-label>
          <ion-item>
              
              <ion-input  value="IT60 9876 5321 9090" disabled class="my-details"></ion-input>
            </ion-item>
            <ion-label color="dark" class="label_size">Swift Code:</ion-label>
          <ion-item>
              
              <ion-input  value="BKDOIT60" disabled class="my-details"></ion-input>
            </ion-item>
            <ion-label color="dark" class="label_size">Bank Name:</ion-label>
          <ion-item>
              
              <ion-input id="dynamicDisabled3" value="Bank of Dinero" disabled class="my-details"></ion-input>
            </ion-item>
        </ion-card-content>
</ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" id="fab1" slot="fixed" class="fab">
    <ion-fab-button (click)="toggleBoolean('dynamicDisabled', 'disabled','fab1')" color="dark">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  
</ion-fab>
<ion-fab vertical="bottom" horizontal="center" id="fab2" slot="fixed" class="fab1">
    <ion-fab-button (click)="toggleBoolean('dynamicDisabled', 'disabled','fab2')" color="dark">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
    </ion-fab>

<ion-toolbar color="dark">
<ion-buttons slot="secondary">
  <ion-button>
    <ion-icon slot="icon-only" name="help-circle"></ion-icon>
  </ion-button>
  
</ion-buttons>
<ion-buttons slot="primary">
  <ion-button>
    <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
  </ion-button>
</ion-buttons>

</ion-toolbar>
