// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



.bankLogo{
    border: 1px black solid;
  }

  .popover_class .popover-content{
    --background: blue;  // to take care of a possible css4
    background: blue;     // to treat it as normal css
  
  }

  .custom-popover .popover-content {
    width: 80%;
  }