.no-padding {
    padding: 0px !important;
}
.card1{
    width: fit-content;margin-top: auto;margin-bottom:10px;
}
.card2{
    width: 50%;margin-top: auto;
}
.contentHeight{
    height: 647px;
}

.popover-content{ width: 1000px; }